page-home {
    font-weight:10!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1em;

.logo{
        /*border-radius: 50%;*/
        width: 25vh;
        height: 25vh;
        border-radius: 100%;
        margin: auto;
        margin-top: 8vh;
        background:url('../assets/icon/welcome.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #00173d;
        }
.header1{
    display:block;
    font-size:1.5em;
    color:grey;
    text-align: center;

}
.header2{
    font-size:1.1em;
    text-align: center;
    display:block;
    color:rgb(65, 65, 75)
}
.list_main{
    position:absolute;
    top:40vh;
}
}
